body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* NAVIGATION STYLES */
.nav-container {
    display: grid; /* or flex */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 180px;
    gap: 10px;
    padding: 10px;
    background-color: #823B80;
}

.nav-div {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    text-align: center;    
}


/*  CALL STYLES */
.call-container {
    display: grid; /* or flex */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;
    background-color: #DB6015;
}

.call-div {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}


/*  HEALTH STYLES */
.health-container {
    display: grid; /* or flex */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;
    background-color: #4B8320;
}

.health-div {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}


/*  ERORRS */
.error-container {
    display: grid; /* or flex */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;
    background-color: #3B469A;
}

.error-div {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}


/* RATES */
.rates-container {
    display: grid; /* or flex */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;
    background-color: #D6B50F;
}

.rates-div {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
}


/* Value-specific conditional formats */
.p-normal {
    font-size: 15px;
    color: black;
	margin: 5px;
	justify-content: center;
	align-items: center;
}


.p-warning{
    font-size: 15px;
    color: red;
    background-color: yellow;
	margin: auto;
	justify-content: center;
	align-items: center;
}

h3 {
    font-size: 17px;
    font-weight: bold;
    text-wrap: balance;
	margin: 5px;
}

h2 {
    font-size: 18px;
	color: white;	  
    font-weight: bold;
    text-wrap: balance;
	background-color: #CDCFD1;
	padding: 2px 2px;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-right: 0px;
	margin-left: 0px;
}

/* h1 { */
	/* background-color: #006178; */
	/* background-color: #001743; */
	/* text-align: center;   */
	/* font-size: 30px; */
	/* font-weight: 200; */
	/* color: #FFFFFF; */
	/* padding: 5px 5px; */
	/* margin-top: 10px; */
	/* margin-bottom: 10px; */
	/* text-shadow: 0px 0px 5px #5EB6D9, 0px 0px 10px #00559B, 0px 0px 10px #003087, 0px 0px 20px #001743; */
/* } */

h1 {
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	color: #003087;
	padding: 1px;
	margin: 5px
}