body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* NAVIGATION STYLES */
.sg0-container {
    display: grid; /* or flex */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 150px;
    gap: 10px;
    padding: 10px;
    background-color: #823B80;
}

.sg1-container {
    display: grid; /* or flex */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 150px;
    gap: 10px;
    padding: 10px;
    background-color: #DB6015;
}

.sg2-container {
    display: grid; /* or flex */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 150px;
    gap: 10px;
    padding: 10px;
    background-color: #4B8320;
}

.sg3-container {
    display: grid; /* or flex */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 150px;
    gap: 10px;
    padding: 10px;
    background-color: #3B469A;
}

.sg4-container {
    display: grid; /* or flex */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 150px;
    gap: 10px;
    padding: 10px;
    background-color: #D6B50F;
}

.sg5-container {
    display: grid; /* or flex */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 150px;
    gap: 10px;
    padding: 10px;
    background-color: #901200;
}

.sg6-container {
    display: grid; /* or flex */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 150px;
    gap: 10px;
    padding: 10px;
    background-color: #502D58;
}

.sg7-container {
    display: grid; /* or flex */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 150px;
    gap: 10px;
    padding: 10px;
    background-color: #853B00;
}


.summary-div {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    text-align: center;    
}


/* Value-specific conditional formats */
.p-normal {
    font-size: 15px;
    color: black;
}

.p-warning{
    font-size: 15px;
    color: red;
    background-color: yellow;
    font-weight: bold;
}

h3 {
    font-size: 15px;
    font-weight: bold;
    text-wrap: balance;
}

/*  MAP FRAME */
iframe {
	max-width: 100%;
	width: 100%;
    /* width: 1200px; */
    height: 600px;
    border: 2px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
}

h1 {
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	color: #003087;
	padding: 1px;
	margin: 5px
}