body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*  MAP FRAME */
iframe {
    width: 100%;
    height: 960px;
    border: none;
    display: block;
}

/* NAVIGATION STYLES */
.nav-container {
    display: grid; /* or flex */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 120px;
    gap: 5px;
    padding: 5px;
    background-color: dodgerblue
}

.nav-div {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    /* padding: 15px; */
    text-align: center;   
    font-size: 12px; 
}

h3 {
    font-size: 15px;
    font-weight: bold;
    text-wrap: balance;
}

h1 {
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	color: #003087;
	padding: 1px;
	margin: 5px
}

iframe {
	max-width: 100%;
	width: 100%;
    /* width: 1200px; */
    height: 600px;
    border: 2px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
}