body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 5px 10px;
  overflow: hidden;
  background-color: #003087;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #CDCFD1;
}


.timestamp {
  text-align: right;
  font-size: 16px;
  color: white; /* Using a named color */
  padding: 1px 1px;
}

.disclaimer {
	text-align: center;
	font-size: 16px;
	font-style: italic;
	padding: 1px 1px; /* Vertical (top/bottom): 15px, Horizontal (right/left): 25px */
	background-color: #0085CA;
	color: white;
}
	