body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.subnavbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5EB6D9;
}

.subnavbar li {
  float: left;
}

.subnavbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
}

.subnavbar li a:hover {
  background-color: #CDCFD1;
}